.idea/

/bitrix
/upload
*/vendor
*.log
*.tgz.*
*.tar.*
*.zip
.bash_history
.gitconfig
.env
/db-data
composer.lock

#Убрал все неиспользуемые в задании файлы
urlrewrite.php
/store
storage.php
sect_sidebar.php
sect_bottom.php
/search
/pub
/personal
/news
/login
index.php
/include
/images
favicon.ico
/desktop_app
/catalog
/auth
/about
404.php
.top.menu.php
.section.php
.personal.menu.php
.left.menu_ext.php
.htaccess
.bottom.menu.php
.access.php
